@import url(https://fonts.googleapis.com/css2?family=Playfair+Display&family=Sometype+Mono&display=swap);

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*Set a global font family*/
* {
  font-family: "Playfair-Display", Arial, Helvetica, sans-serif;
}

/*made header a flex display and added padding*/
#top-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/*changed the font weight and size of site name*/
.siteName {
  font-size: 2rem;
  font-weight: bolder;
  }

  /*removed textdecoration on the site name and chnaged the color*/
.siteName a {
  text-decoration: none;
  color: black;
}

/*added hover effect for site name*/
.siteName a:hover {
  color: rgb(8, 136, 187);
}

/*changed nav display to flex and added a background color and padding*/
nav ul {
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  list-style: none;
  padding: 1rem 0 1rem 0;
}

/*removed textdecor from nav a elements*/
nav li a {
  text-decoration: none;
  color: white;
}

/*added hover effect for the nav a element*/
nav a:hover {
  background-color: white;
  color: black;
  padding: 1rem 0 1rem 0;
}

/*made the hero car name larger and bolder*/
.hero-car-name {
  font-weight: bolder;
  font-size: 1.5rem;  
}

/*added border radius, padding , color etc to hero button*/
.hero-car-button {
  display: block;
  background-color: lightskyblue;
  text-decoration: none;
  font-weight: bolder;
  color: black;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 5px;
  max-width: fit-content;
}

/*added hover effect for a couple of a elements*/
.hero-car-button:hover, .upgrade-grid figcaption a:hover, #tools a:hover {
  color: white;
  background-color: black;
}

/*positioned the hero paragraph appropriately*/
.hero-p {
  position: absolute;
  top: 18rem;
  line-height: 2px;
  color: rgb(57, 192, 245);
  font-size: 1rem;
  max-width: fit-content;
  background-color: black;
  padding: 1rem;
  opacity: 0.8;
}

/*added padding to the container div of the body element as well as the footer element*/
.container, footer {
  padding: 1rem;
}

/*set dimensions of the hero image to enhance responsiveness*/
.hero-image img {
  width: 100%;
  height: auto;
}

/*made the upgrades div responsive*/
.upgrade-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 10px;
  max-width: 600px;
}

/*added some styling to the figure element and its contents*/
.upgrade-grid figure {
  text-align: center;
  background-color: aqua;
  width: 100%;
  height: auto;
}
.upgrade-grid figure img {
  display: block;
  justify-self: center;
  padding: 1rem;
}
.upgrade-grid figcaption {
  background-color: white;
}
.delorean {
  font-size: 1.5rem;
}

/*added some styling to the vehicle inventory page*/
#inv-display {
  display: grid;
  max-width: 700px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  align-items: center;
  justify-items: center;
  text-align: center;
  list-style: none;
  padding: 1rem;
}
#inv-display img {
  width: 100%;
  height: auto;
}
.inv-heading-title {
  text-align: center;
}

/*added some styling to the vehicle detail page*/
#vehicle-img-box img{
  width: 100%;
  height: auto;
}
#vehicle-img-box p {
  background-color: black;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0;
  text-align: center;
}
#vehicle-img-box h2 {
  text-align: center;
}
#vehicle-details-gridbox {
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
}
.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  font-size: 1.5rem;
  background-color: aqua;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  gap: 5px;
}
.mileage-p {
  grid-column: 1/2;
  grid-row: 1/3;
  text-align: center;
  border: 2px solid black;
}
.mileage {
  background-color: white;
}
.mileage-value {
  font-weight: bolder;
}
.haggle-p {
  grid-column: 2/4;
  grid-row: 1/2;
}
.price-tag {
  grid-column: 4/5;
  grid-row: 1/2;
  font-weight: bolder;
}
.vat {
  grid-column: 3/5;
  grid-row: 2/3;
  align-self: flex-start;
}
.superscript {
  color: red;
}
.detail-span {
  font-weight: bolder;
}
.detail-buttons button {
  width: 100%;
  display: block;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 10px;
}
.detail-buttons button:hover {
  background-color: black;
  color: white;
}
.start-button {
  background-color: green;
  color: white;
}
.detail-button {
  background-color: cadetblue;
  color: black;
}
.bottom-section p {
  font-weight: bold;
}
.contact-number {
  color: green;
}

/*Centralised the error msg*/
.error-msg {
  text-align: center;
}

/*Styled the flash message*/
.notice {
  color: red;
  font-style: italic;
  font-weight: bold;
  list-style: none;
  margin-top: 0;
}

/*Styled the login form, registration form, inventory form and classification form*/
.login-form-div, .registration-form-div, .add-classification-div, .add-inventory-div {
  max-width: 500px;
  margin: 0 auto;
  background-color: aqua;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.login-form-div form, .registration-form-div form, .add-classification-div form, .add-inventory-div form {
  padding: 1rem;
  background-color: rgb(32, 32, 80);
  border-radius: 0.5rem;
}
.login-form-div form label, .registration-form-div form label, .add-classification-div form label, .add-inventory-div form label {
  display: block;
  font-weight: bold;
  color: white;
  padding: 0.5rem;
  font-size: 30px;
}
.login-form-div form input, .registration-form-div form input, .add-classification-div form input, .add-inventory-div form input, #classificationList {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 30px;
}
#login, #add-classification-btn, #add-inventory-btn {
  border-radius: 1rem;
  color: black;
  padding: 0.5rem;
}

#register {
  max-width: 40%;
  margin: 0 auto;
  color: black;
  font-size: 25px;
  padding: 0.5rem;
}
.reveal-password-btn {
  border-radius: 0.5rem;
  margin-top: 0.2rem;
}
.reveal-password-btn:hover {
  background-color: black;
  color: white;
}

#login:hover, #register:hover, #add-classification-btn:hover, #add-inventory-btn:hover {
  background-color: black;
  color: white;
}
.sign-up-p {
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
.sign-up-p a {
  color: white;
}
.sign-up-p a:hover {
  color: red;
}

/*add styling to management view*/
.add-new-div {
  max-width: 500px;
  margin: 0 auto;
  background-color: aqua;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.add-new-link {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 1rem;
  padding: 1rem;
  background-color: black;
  color: white;
  text-decoration: none;
  font-style: italic;
  margin: 0.5rem;
}
.add-new-link:hover {
  background-color: white;
  color: black;
}

/*styling for table in inventory management view*/
#inventoryDisplay {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}
#inventoryDisplay, th, td {
  border: 1px solid black;
}



/*css for screen sizes from 600px*/
@media screen and (min-width: 600px) {
  body {
    background-image: url(/images/site/checkerboard.jpg);
    backdrop-filter: opacity(100%);
    backdrop-filter: blur(50px);
  }
  nav li a {
    padding: 1rem;
  }
  nav a:hover {
    padding: 1rem;
  }
  .delorean {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .container, #top-header, footer {
    margin: 0;
    background-color: white;
  }
  footer, .container, nav, #top-header {
    border-left: 5px solid rgb(8, 136, 187);
    border-right: 5px solid rgb(8, 136, 187);
  }
  footer {
    border-bottom: 5px solid rgb(8, 136, 187);
  }
  #top-header {
    border-top: 5px solid rgb(8, 136, 187);
  }
  .delorean-upgrades {
    grid-column: 1/2;

  }
  .delorean-reviews {
    grid-column: 2/3;
    grid-row: 1;
  }
  .hero-p {
    font-size: 2rem;
    top: 19rem;
  }
  .hero-car-name {
    font-size: 2.5rem;
  }
  #vehicle-details-gridbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
  }
  .middle-section, .bottom-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
  }
  .top-section {
    margin-bottom: 1rem;
  }
}