<%#Title heading of the page%>
<% if (title) { %>
    <h1 class="inv-heading-title"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%# message block %>
<%- messages() %>

<%# error block %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>



<%# add new classification and inventory link %>
<div class="add-new-div">
    <p class="add-new-p"><a class="add-new-link" href="">Add new Classification</a></p>
    <p class="add-new-p"><a class="add-new-link" href="">Add new Inventory</a></p>
</div>