<%#Title heading of the page%>
<% if (title) { %>
    <h1 class="inv-heading-title"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%# message block %>
<%- messages() %>

<%# error block %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>



<%# add new classification and inventory link %>
<div class="add-new-div">
    <a class="add-new-link" href="/inv/add-classification/">Add new Classification</a>
    <a class="add-new-link" href="/inv/add-inventory/">Add new Inventory</a>
    <h2>Manage Inventory</h2>
    <p>Please select a classification to see its items</p>
    <%- classificationList %>
    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
</div>


<%# link js file %>
<script src="../../js/inventory.js"></script>